In [6]:
import pandas as pd

In [7]:
## EJERCICIO 4.

# Crea una serie con nuemeros correlativos entre 1 y 12 inclusive (puedes hacerlo como lista o diccionario):

serie = pd.Series(range(1, 13))

In [4]:
# Cambiar el índice para que comience con el número 20
nuevo_indice = range(20, 32)  # 12 números empezando desde 20
serie.index = nuevo_indice

In [8]:
# Nuevamente cambia el indice de la serie, esta vez con una lista que haga referencia a los meses del año (tenemos 12 elementos como la cantidad de meses del año).

lista = [i for i in range(1,13)]

meses = ["Enero","Febrero","Marzo", "Abril","Mayo", "Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"]
serie = pd.Series(lista, index = meses)

In [9]:
serie

Enero          1
Febrero        2
Marzo          3
Abril          4
Mayo           5
Junio          6
Julio          7
Agosto         8
Septiembre     9
Octubre       10
Noviembre     11
Diciembre     12
dtype: int64

In [10]:
# Muestra los valores que estan en la posicion 3 y 8 de mi serie.
serie.iloc[3::5]

Abril         4
Septiembre    9
dtype: int64

In [18]:
# Muestra los valores que estan etiquetados en enero y agosto.
serie["Enero"]

1

In [17]:
serie["Agosto"]

8

In [24]:
# Muestra sus valores, indices, forma, tamaño y el tipo de elementos de la serie.

print(serie.shape,serie.dtypes,serie.size)

(12,) int64 12